<div class="photo-card">
  <img class="photo" id="{{_id}}" src="{{book_image}}" alt="{{author}}" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes </b>{{list_name}}
    </p>
    <p class="info-item">
      <b>Views </b>{{title}}
    </p>    
  </div>
</div>

